.room{
    height: 100vh;
    text-align: center;
    
    
}
.lit{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
.lightButton{
    background-color: teal;
    color: white;
    border-style: none;
    padding: 8px;
    font-size: large;
}
.tempButton{
    background-color: teal;
    color: white;
    border-style: none;
    padding: 8px;
    margin: 10px;
    margin-left: 10px;
    font-size: large;

    
}